.parent {
    @apply grid grid-cols-2 h-full
        xs:flex flex-col-reverse;
}

/* Left pane */
.leftpane {
    @apply flex flex-col bg-blue justify-center;
}
.image {
    @apply text-center align-middle ;
}
.caption {
    @apply xs:text-xl text-center text-3xl text-white uppercase tracking-widest;
}
.variant {
    @apply text-4xl font-bold tracking-normal xs:text-2xl;
}
.quote {
    @apply text-2xl xs:text-lg;
}


/* Right Pane */
.rightpane {
    height: fit-content;
    @apply flex flex-col h-full
        xs:overflow-auto;
}

.appNameWrapper {
    @apply flex flex-row  items-center self-center;
    flex-basis: 25%;
}

.appName {
    @apply text-3xl font-bold text-gray-400;
}

.welcomeWrapper {
    @apply flex flex-col items-center text-center; 
}

.welcomeText {
    @apply xs:text-lg font-bold uppercase font-sans text-gray-400 text-3xl;    
}

.registerFormWrapper {
    @apply mt-3 text-xs w-full max-w-3xl
        xs:pb-0;;
}

.form {
    @apply bg-white px-8 pt-6 mb-4 self-center;
}