/* User profile */
.user {
    @apply py-5;
}
.row {
    @apply flex flex-row justify-between;
};

.profile {
    @apply flex flex-col justify-center items-center
};
.username {
    @apply font-bold text-xl tracking-wide;
};
.email {
    @apply text-sm font-thin text-gray-500;
}
.editButton {
    @apply bg-sky-200 py-3 px-3 rounded-full text-blue-theme h-12;
};

/* Avatar */
.avatar {
    @apply opacity-100 block;
    transition: .5s ease;
    backface-visibility: hidden;
}
.image {
    @apply rounded-full;
}

.middle {
    @apply opacity-0 absolute text-center;
    transition: .5s ease;
    left: 9.7%;
    top: 24%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.avatar:hover .image {
    @apply opacity-30;
}

.avatar:hover .middle {
    @apply opacity-100;
}



.text {
    @apply cursor-pointer py-4 px-8 text-lg text-black bg-transparent
}
/* Container */
.container {
    @apply py-10;
}
.card {
    @apply justify-start cursor-pointer;
}
.icon {
    @apply flex flex-col justify-center items-center
}
.label {
    @apply mx-10
}
.title {
    @apply font-semibold;
}
.subTitle {
    @apply font-thin text-gray-500 text-sm;
}

/* App Version */
.appVersion {
    @apply font-thin text-gray-500 text-xs text-center pt-5;
}